body{
  font-family: 'Oswald', sans-serif;
}

#container{
  position: relative;
  display: block;
  height: 100%;
  max-width: 60%;
  margin: 20px;
  width: auto;
}

#showProduct{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#left-arrow{
  height: 100%;
  width: 3em;
  position: absolute;
  left: 0px;
  top: 0px;
}

#right-arrow{
  height: 100%;
  width: 3em;
  position: absolute;
  right: 0px;
  top: 0px;
}

#back{
  height: 20px;
  width: auto;
  position:absolute;
  top: 50%;
  left:0px;
}

#next{
  height: 20px;
  width: auto;
  position:absolute;
  top: 50%;
  right:0px;
}

.info{
  position: absolute;
  top: 10px;
  right: 0px;
  max-width: 30%;
  min-width: 200px;
  height: 100%;
  background-color: #fff;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 80%;
  padding-bottom: 2em;
}

#shoppingcart {
  text-align: right;
  padding-right: 1.5em;
}

#productname,
#price {
  text-align: left;
  padding-left: 1.5em;
  font-size: 22px;
}

.button {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#selector {
  font-family: 'Oswald', sans-serif;
  border: solid 2px black;
  padding: 15px 32px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  width: 80%;
}
